@tailwind base;
body {
  background-color: #f2f4f7;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.custom_scrollbar_hide::-webkit-scrollbar {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
.animation-play-state:hover{
  animation-play-state: paused;
}

@tailwind components;
@tailwind utilities;
