@tailwind base;
body {
  background-color: #f6f7f9;
  overflow-x: hidden;
}
.custom_scrollbar_hide::-webkit-scrollbar {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
.mui-data-table {
  height: 74vh;
}

.mui-data-table thead tr th {
  text-align: center;
}
.mui-data-table tbody tr td {
  text-align: center;
  cursor: pointer;
}
.custom_class_zindex {
  z-index: 999;
}

@import "react-slideshow-image/dist/styles.css";
@tailwind components;
@tailwind utilities;
